<div class="jumbotron text-center">
    <img class="logo" src="/img/logo.png">
    <h1 class="display-3">{{ title }}</h1>
    <p class="lead">Jot down your TODO list</p>
    <a href="/todos/add" class="btn btn-dark btn-lg">Add Todo</a>
</div>